node_modules

# Local Environment Variables
.env*.local
.env.local.backup

# Next.js
/.next/
/out/

# Production
/build

# Secrets and Credentials
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.js
!next-env.d.ts

# Other
.DS_Store
*.pem
